.sectionContainer{
    display: flex;
    flex-direction: column;
    
}

.sectionItem{
    height: 300px;
    flex: 1 0 auto;
}

.header{
    height: 60px;
    flex: 1 0 auto;
    background-color: blanchedalmond;
}